* {
    padding: 0;
    margin: 0;
    --highlight-color: rgba(2, 142, 177, 0.2);
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

header {
    background: radial-gradient(circle, var(--highlight-color) 50%, rgb(255, 183, 183) 100%);
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

form {
    display: grid;
    place-items: center;
    place-content: center;
    padding: 25px;
    font-size: 2rem;
    gap: 10px;
    grid-template-columns: auto 300px;
}
label {
    justify-self: end;
}

input,
select {
    justify-self: start;
}

.submit {
    padding: 8px 24px;
    grid-column: span 2;
}

.container {
    display: grid;
    place-content: center;
}

.humidity {
    grid-column: span 2;
}

.max {
    grid-column: span 2;
}

.units {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 100px;
    place-items: center;
    position: relative;
}

.imperial-title,
.metric-title {
    background: none;
    border: none;
    font-size: 1.2rem;
    opacity: 0.3;
}

.imperial-title.show,
.metric-title.show {
    box-shadow: 0px 5px 2px var(--highlight-color);
    transition: opacity 0.5s ease;
    opacity: 1;
}

.imperial-unit,
.metric-unit {
    bottom: 30px;
    font-size: 4rem;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.imperial-unit.show,
.metric-unit.show {
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 1;
}